﻿@model RedisDemoUI.Models.Task
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr/>

<div class="row form-border">
    <div class="form-group">
        <div class="row">
            <div class="col-sm-1">
                <label asp-for="Name"></label>
            </div>
            <div class="col-sm-4">
                <input asp-for="Name" disabled class="form-control"/>
            </div>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <a asp-action="Edit" asp-route-name="@Model.Name" class="btn btn-sm btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-sm btn-success">Back To Tasks</a>
    </div>
</div>