﻿@model TaskViewModel
@{
    ViewData["Title"] = "RedisTasks";
}

<br/>
<h3>Task List</h3>
<hr/>

<p>
    <a asp-action="Create" class="btn btn-sm btn-primary">Add Task</a>
</p>
<br/>

<div class="form-border">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Tasks")
            </th>
            <th></th>
        </tr>
        @foreach (var task in Model.Tasks)
        {
            <tr>
                <td>
                    @Html.DisplayFor(m => task.Name)
                </td>
            </tr>
            <td>
                <a asp-action="Edit" asp-route-name="@task.Name" class="btn btn-sm btn-success">Edit</a>
                <a asp-action="Details" asp-route-name="@task.Name" class="btn btn-sm btn-primary">Details</a>
                <a asp-action="Delete" asp-route-name="@task.Name" class="btn btn-sm btn-danger">Delete</a>
            </td>
        }
    </table>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayName("Next Business Call")
            </th>
            <th></th>
        </tr>
        @foreach (var call in Model.NextBusinessCall)
        {
            <tr>
                <td>
                    @Html.DisplayFor(n => call)
                </td>
            </tr>
        }
        <td>
            <a asp-action="EditCall" asp-route-name="@Model.CallHaskKeyValue" class="btn btn-sm btn-success">Edit</a>
        </td>
    </table>
</div>